@import '../vars';

#about{
  section.welcome{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    video{
      min-width: 100%;
      min-height: 100%;
      position: absolute;
      //top: 0;
    }
    h1{
      color: $white;
      z-index: 5;
    }
  }

  section.info{
    position: relative;
    overflow: hidden;
    h2{
      position: relative;
    }
    .outline {
      left:  -18px;
      top: 46px;
    }
    p{
      max-width: 460px;
    }
    .vetal,
    .yaro,
    .ernest{
      position: absolute;
      overflow: visible;
    }
    .vetal{
      right: 52%;
      top: -40px;
    }
    .ernest{
      left: -24px;
      bottom: -55px;
    }
    .yaro{
      right: -15px;
      bottom: -18px;
    }
  }

  section.history{
    background: $grey-footer;
    //overflow-y: scroll;
    //position: relative;
    //height: initial;


    .wrapper{
      min-height: 100vh;
      height: max-content;
      padding: 0 0 94px;
      box-sizing: border-box;
      //position: absolute;

      h2{
        height: 50vh;
        line-height: 50vh;
        //margin-bottom: 174px;
      }

      .grid{
        margin-top: 50px;
        grid-gap: 54px;
        grid-template-columns: 1fr;
        position: relative;
        min-height: 861px;

        &-row{
          display: grid;
          align-items: center;
          grid-template-columns: 1fr 1fr;
          grid-gap: 125px;
        }

        svg{
          position: absolute;
          top: -50px;
          //top: 0;
          left: 50%;
          transform: translateX(-25%);
        }

        .col1{
          align-items: flex-end;
          overflow: hidden;
        }
        .col2{
          overflow: hidden;
        }

        p{
          max-width: 303px;
        }

        .img1{
          max-width: 482px;
        }
        .img2{
          max-width: 379px;
        }
        .img3{
          max-width: 340px;
        }
      }

    }
  }

  section.team{
    background: $grey-footer;
    //height: initial;
    //padding: 94px 0;

    h2{
      height: 14vh;
      line-height: 14vh;
      margin: 0;
    }

    .gallery{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 86vh;

      .gallery-imgs{
        max-width: 96vh;

        .cards-tray{
          display: flex;

          .cards-grid{
            padding: 3vh;
            box-sizing: content-box;
            max-height: 86vh;
            display: grid;
            grid-template-columns: repeat(3, 26vh);
            grid-template-rows: repeat(2, 36vh);
            grid-gap: 6vh;
          }
        }

      }

      &-controls{
        .control{
          height: 8vh;
          bottom: 46vh;
        }
      }
    }

    .teammate-card{
      height: 100%;
      width: 100%;
      position: relative;
      cursor: pointer;
      text-align: center;
      .block-link{
        display: block;
        font-weight: bold;
        font-size: 26px;
        position: absolute;
        text-decoration: underline;
        top: 0;
        width: 100%;
        height: 26vh;
        line-height: 26vh;
        background: rgba(92, 93, 177, 0.9);
        color: $white
      }
      img{
        max-width: 239px;
        width: 100%;
        //min-height: 238px;
        margin-bottom: 16px;

        &.click{
          position: absolute;
          top: 2vh;
          left: -5vh;
        }
      }

    }
  }

  section.album{
    background: $red;
    color: $white;
    display: flex;
    align-items: center;

    .gallery{
      height: 100vh;
      &-controls{
        .control{
          height: 8vh;
          bottom: 2vh;
        }
      }
    }

    .album-grid{
      display: flex;
      max-height: 504px;
      align-items: center;
      padding: 0 50vw;

      .real-section{
        flex: auto;
        height: 100%;
        //flex-basis: 200px;
        flex-grow: 0;
        flex-shrink: 0;
        position: relative;

        .wrap{
          width: 100%;
          //margin: 0 22.5px;
          overflow: hidden;

          .cont{
            background-image: url("../../imgs/about/album/arrows.svg");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            min-width: 690px;
          }
        }

        .photo{
          position: absolute;
          right: 100%;
        }

        h2{
          max-width: 515px;
        }
      }

      .photo{
        box-sizing: border-box;
        height: 100%;
        border: 12px solid $white;
        border-radius: 2px;
        margin: 0 22.5px;
        img{
          display: block;
          height: 100%;
        }
      }
    }

  }
}
