@import '../scss/vars';
@import '../scss/main.scss';

#design{

  section.welcome{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../imgs/design/welcome/paint.svg');
    background-repeat: no-repeat;
    background-position: center left 110px;
    position: relative;
    .bottom-text{
      position: absolute;
      margin: auto;
      bottom: 50px;
      left: 0;
      right: 0;
      width: 150px;
      &:before{
        content: '';
        background-image: url('../imgs/design/welcome/arrow.svg');
        display: block;
        position: absolute;
        left: -76px;
        background-repeat: no-repeat;
        width: 68px;
        height: 68px;
        margin-right: 8px;
      }
    }
  }

  section.webdesign{
    background-color: $yellow;
    height: 80vh;
    .col2{
      align-items: flex-start;
    }
  }

  section.webdesign-sub{
    background-color: $grey-bg;
    .imgs-grid{
      height: 100vh;
      display: grid;
      grid-template-columns: 685px 685px 685px 685px;
      grid-gap: 90px;
      transform: translateY(-10vh);
      overflow-x: scroll;
      padding-left: 146px;
      img{
        width: 100%;
      }
    }
  }

  section.page-404{
    background-color: transparent;
    overflow-x: hidden;
    color: $white;

    .oval{
      background-color: $red;
    }
    .grid{
      grid-template-columns: 1fr 1.3fr;
      max-width: 1200px;
      margin: 0 auto;
    }
    .pages-cont{
      position: relative;
      width: 700px;
      height: 450px;
      img{
        position: absolute;
        &:nth-child(1){
          top: 76px;
          right: 0;
          z-index: 5;
        }
        &:nth-child(2){
          right: 76px;
          bottom: 0;
          z-index: 4;
        }
        &:nth-child(3){
          left: 0;
          bottom: 100px;
          z-index: 3;

        }
        &:nth-child(4){
          top: 0;
          left: 70px;
          z-index: 2;
        }
      }
    }
  }


  section.presentation{
    background-color: $red;
    overflow-x: hidden;

    .oval{
      background-color: $yellow;
    }
  }

  section.what-we-use{
    .img-row{
      img{
        width: 76px;
        height: 76px;
        margin-right: 25px;
        margin-bottom: 38px;
      }
    }
  }

}
