@import '../scss/vars';

body.design{
  background: $yellow;
}

#design{
  section.welcome{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../imgs/design/welcome/paint.svg');
    background-size: auto 70%;
    background-repeat: no-repeat;
    background-position: 15% 50%;
    position: relative;

    .load-wrapper{
      color: $white;
      background: $yellow;
    }
    .header-block{
      position: relative;
      .pen{
        position: absolute;
        right: -110px;
        top: -5px;
        overflow: visible;
        cursor: pointer;
      }
    }
    h1 {
      transform: translateX(-5%);
    }
    .bottom-text{
      position: absolute;
      margin: auto;
      bottom: 50px;
      left: 0;
      right: 0;
      width: 150px;
      &:before{
        content: '';
        background-image: url('../imgs/design/welcome/arrow.svg');
        display: block;
        position: absolute;
        left: -76px;
        background-repeat: no-repeat;
        width: 68px;
        height: 68px;
        margin-right: 8px;
      }
    }
  }

  section.illustrations{
    background: url("../imgs/design/illustrations/sag.svg"), $yellow;
    background-repeat: no-repeat;
    background-size: 100% 0%;
    background-position: center bottom -1px;
    .col2{
      align-items: flex-start;
    }
    img{
      margin-left: 85px;
    }
  }

  section.illustrations-gallery{
    background-color: $grey-bg;
    height: auto;
    max-height: initial;
    .gallery{
      .grid{
        grid-template-columns: auto auto auto auto auto auto auto auto auto;
        grid-gap: 40px;
        &:first-child{
          grid-template-rows: 326px;
          margin-bottom: 40px;
        }
        &:last-child{
          grid-template-rows:263px;

        }
      }
    }
    .mini-contact{
      height: 100%;
      width: 440px;
      border-radius: 10px;
      background: $violet;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color:$white;
      p{
        font-weight: bold;
        font-size: 60px;
        line-height: 80%;
        max-width: 300px;
        text-align: center;
        margin-bottom: 50px;
      }
      .cool-button {
        height: 80px;
        width: 211px;
        margin-bottom: 0;

        .border {
          border: 1px solid $white;
        }

        .text {
          font-weight: bold;
          font-size: 30px;
          line-height: 80px;
          letter-spacing: 0.05em;
        }
      }
    }
  }

  section.animation{
    overflow-x: hidden;
    height: auto;
    color: $white;
    background:
            url("../imgs/design/animation/paint.svg") no-repeat, $grey-bg;
    background-position: bottom 80% right;
    position: relative;

    .col1{
      align-items: center;
    }
    .oval{
      background:
              url("../imgs/design/animation/paint.svg") no-repeat;
      background-position: bottom 80% right;
      background-color: $violet;
      height: 108vh;
    }
    .grid{
      height: 100vh;
    }
    .bottom-text{
      position: absolute;
      margin: auto;
      width: 130px;
      text-align: center;
      bottom: 10%;
      left: 0;
      right: 0;
      .arrow{
        background-image: url('../imgs/home/anchor-arrow.svg');
        position: absolute;
        bottom: -33px;
        background-repeat: no-repeat;
        margin: auto;
        left: 0;
        right: 0;
        width: 40px;
        height: 20px;
      }
    }
  }

  section.videos{
    background: $violet;
    color: $white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2{
      margin-bottom: -8px;
    }
  }

  section.webdesign{
    background-color: $yellow;
    .col2{
      align-items: flex-start;
    }
    .col1{
      position: relative;
    }
    .outline {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      bottom: -60px;
      z-index: 1;
    }
  }

  section.webdesign-gallery{
    background-color: $grey-bg;
    height: auto;
    max-height: initial;
    .gallery{
      .grid{
        grid-template-columns: 685px 685px 685px 685px;
        grid-gap: 90px;
        img{
          width: 100%;
        }
      }
    }
  }

  section.page-404{
    //background-color: transparent;
    overflow-x: hidden;
    color: $white;
    margin-bottom: -1px;

    .oval{
      background-color: $red;
    }
    .grid{
      height: 92vh;
      grid-template-columns: 1fr 1.3fr;
      max-width: 1200px;
      margin: 0 auto;
    }
    .pages-cont{
      position: relative;
      width: 700px;
      height: 450px;
      img{
        position: absolute;
        &:nth-child(1){
          top: 76px;
          right: 0;
          z-index: 5;
        }
        &:nth-child(2){
          right: 76px;
          bottom: 0;
          z-index: 4;
        }
        &:nth-child(3){
          left: 0;
          bottom: 100px;
          z-index: 3;

        }
        &:nth-child(4){
          top: 0;
          left: 70px;
          z-index: 2;
        }
      }
    }
  }


  section.presentation{
    background-color: $red;
    overflow-x: hidden;
    height: auto;
    position: relative;

    .oval{
      background-color: $yellow;
    }
    .grid{
      height: 100vh;
    }
    .col2{
      position: relative;
      .outline {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: -30px;
        z-index: 1;
      }
    }
  }

  section.what-we-use{
    .img-row{
      img{
        width: 76px;
        height: 76px;
        margin-right: 25px;
        margin-bottom: 38px;
      }
    }
  }

}
