@import '../scss/vars';

#design{

  section.welcome{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../imgs/design/welcome/paint.svg');
    background-repeat: no-repeat;
    background-position: center left 110px;
    position: relative;

    h1 {
      position: relative;
      &:after {
        content: '';
        width: 80px;
        height: 101px;
        right: -110px;
        top: -5px;

        display: block;
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('../imgs/design/welcome/pen.svg');
      }
    }
    .bottom-text{
      position: absolute;
      margin: auto;
      bottom: 50px;
      left: 0;
      right: 0;
      width: 150px;
      &:before{
        content: '';
        background-image: url('../imgs/design/welcome/arrow.svg');
        display: block;
        position: absolute;
        left: -76px;
        background-repeat: no-repeat;
        width: 68px;
        height: 68px;
        margin-right: 8px;
      }
    }
  }

  section.illustrations{
    background-color: $yellow;
    height: 90vh;
    .col2{
      align-items: flex-start;
    }
    img{
      margin-left: 85px;
    }
  }

  .gallery {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transform: translateY(-20vh);
    padding: 0 146px;

    .grid {
      height: auto;
      //min-height: 330vh;
    }
  }

  section.illustrations-gallery{
    background-color: $grey-bg;
    height: auto;
    max-height: initial;
    .gallery{
      transform: translateY(-15vh);
      .grid{
        grid-template-columns: auto auto auto auto auto auto auto auto auto;
        grid-gap: 40px;
        &:first-child{
          grid-template-rows: 326px;
          margin-bottom: 40px;
        }
        &:last-child{
          grid-template-rows:263px;

        }
      }
    }
    .mini-contact{
      height: 100%;
      width: 440px;
      border-radius: 10px;
      background: $violet;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color:$white;
      p{
        font-weight: bold;
        font-size: 60px;
        line-height: 80%;
        max-width: 300px;
        text-align: center;
        margin-bottom: 50px;
      }
      .cool-button {
        height: 80px;
        width: 211px;
        margin-bottom: 0;

        .border {
          border: 1px solid $white;
        }

        .text {
          font-weight: bold;
          font-size: 30px;
          line-height: 80px;
          letter-spacing: 0.05em;
        }
      }
    }
  }


  section.webdesign{
    background-color: $yellow;
    height: 90vh;
    .col2{
      align-items: flex-start;
    }
  }

  section.webdesign-gallery{
    background-color: $grey-bg;
    height: auto;
    max-height: initial;
    .gallery{
      .grid{
        grid-template-columns: 685px 685px 685px 685px;
        grid-gap: 90px;
        img{
          width: 100%;
        }
      }
    }
  }

  section.page-404{
    background-color: transparent;
    overflow-x: hidden;
    color: $white;
    margin-bottom: -1px;

    .oval{
      background-color: $red;
    }
    .grid{
      grid-template-columns: 1fr 1.3fr;
      max-width: 1200px;
      margin: 0 auto;
    }
    .pages-cont{
      position: relative;
      width: 700px;
      height: 450px;
      img{
        position: absolute;
        &:nth-child(1){
          top: 76px;
          right: 0;
          z-index: 5;
        }
        &:nth-child(2){
          right: 76px;
          bottom: 0;
          z-index: 4;
        }
        &:nth-child(3){
          left: 0;
          bottom: 100px;
          z-index: 3;

        }
        &:nth-child(4){
          top: 0;
          left: 70px;
          z-index: 2;
        }
      }
    }
  }


  section.presentation{
    background-color: $red;
    overflow-x: hidden;

    .oval{
      background-color: $yellow;
    }
  }

  section.what-we-use{
    .img-row{
      img{
        width: 76px;
        height: 76px;
        margin-right: 25px;
        margin-bottom: 38px;
      }
    }
  }

}
