@import '../scss/vars';

section.still-reading{
  color: $white;
  position: relative;
  background:$violet;
  .container{
    height: 100%;
  }
  .load-wrapper{
    color: $violet;
    background: $white;
  }
  .cool-button{
    margin-top: 50px;
  }
  .sub{
    text-align: center;
  }
  .bottom-text{
    position: absolute;
    margin: auto;
    bottom: 10%;
    right: 0;
    left: 0;
  }
  .paint{
    width: 100vw;
    height: 2vw;
    position: absolute;
    background: url("../imgs/footer/paint.svg");
    background-size: 100vw;
    background-repeat: no-repeat;
    z-index: 30;
    bottom: -1.9vw;
  }

}


section.links{
  position: relative;
  overflow: hidden;
  height: 100vh;

  .wrapper{
    height: 100vh;
    width: calc(100vw + 200px);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    overflow: hidden;
    .link-block{
      height: 100%;
      width: 100vw;
      position: absolute;
      //bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      a{
        display: block;
        font-weight: bold;
        font-size: 60px;
        line-height: 100px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
      }
    }
    &.social{
      color: $black-violet;
      background: $grey-footer;
      z-index: 1;
      left: -200px;
      .wrapper,
      .link-block{
        left: 200px;
      }
    }
    &.menu{
      background: $black-violet;
      color: $grey-footer;
      z-index: 2;
      right: -100px;
      .wrapper,
      .link-block{
        right: 200px;
      }
    }
  }

  .controller{
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    cursor: pointer;
    opacity: 1;
    margin: auto;
    width: 200px;
    height: 200px;

    .arrow{
      height: 40px;
      min-width: 20px;
      margin: 0 40px;
      background-repeat: no-repeat;
      background-size: contain;
    }
    .text{
      font-weight: bold;
      font-size: 40px;
      line-height: 80%;
    }

    &.left{
      border-radius: 0 50% 50% 0;
      z-index: 5;
      justify-content: flex-end;
      left: -200px;
      .arrow{
        background-position: right;
        background-image: url("../imgs/footer/left.svg");
      }
      .text{
        color: $black-violet;
      }
    }

    &.right{
      border-radius: 50% 0 0 50%;
      z-index: 5;
      right: -100px;
      .arrow{
        background-image: url("../imgs/footer/right.svg");
      }
      .text{
        color: $white;
      }

    }
  }
}
