.gallery {
  height: 95vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transform: translateY(-20vh);
  padding: 0 146px;
  padding-top: 5vh;

  .grid {
    height: auto;
    //min-height: 330vh;
  }
}
