@import '../scss/vars';
@import "mixins";

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 26px 143px;

  .logo {
    display: flex;
    margin-right: auto;

    .text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin-left: 10px;

      img {
        width: auto;
      }

      .center {
        margin: 3.5px 0;
      }
    }


  }


  .nav-toggle {
    display: block;
    height: 19px;
    width: 21px;
    margin-right: 28px;
    background-image: url("../imgs/header/menu-simple.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .contact {
    display: block;
    height: 19px;
    width: 26px;
    background-image: url("../imgs/header/contact.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .nav-toggle-box {
    .btn-gooey {
      //@include gooey;
      position: relative;
      color: #f4bc4f;
      & > svg {
        transition: all 450ms;
      }
    }

    position: relative;
    top: -26px;
    transition: all 450ms;

    &:hover {
      .btn-gooey {
        & > svg, & > .nav-btn{
          transform: scale(1.1) !important;
        }
      }
      & .span {

        &:nth-child(2) {
          transform: translate(27px, 0px) !important;
        }

        &:nth-child(3) {
          transform: translate(-42px, 0px) !important;
        }

        &:nth-child(4) {
          transform: translate(-58px, 0px) !important;
        }
      }
    }

    .gooey-box {
      position: absolute;
      top: 0;
      left: -73%;
      right: auto;
      height: auto;
      margin: auto;
      width: 271px;
      color: #f4bc4f;
      transform: scale(0.1);
      transform-origin: top center;
      z-index: -1;

      svg {
        width: 100%;
        height: 100%;
        transform: translate3d(0px, 0px, 0px);

      }
    }


    .nav-btn {

      position: absolute;
      cursor: pointer;
      top: 15px;
      left: 35px;
      width: 44px;
      height: 44px;
      padding: 10px;
      border: 0;
      border-radius: 0 0 50% 50%;
      background: transparent;
      color: white;
      transition: all 450ms;
      box-sizing: border-box;

      & > svg {
        width: 100%;
        max-height: 100%;
        height: auto;
      }

    }

    & > .span {
      position: absolute;
      display: block;
      top: 24px;
      z-index: -1;
      left: auto;
      right: auto;
      opacity: 0;
      transition: all 450ms;

      & > svg {
        max-width: 14px;
        max-height: 25px;
      }

      &:nth-child(2) {
        left: 10px;
        transform: translate(27px, 0px);
      }

      &:nth-child(3) {
        left: 90px;
        transform: translate(-42px, 0px);
      }

      &:nth-child(4) {
        left: 104px;
        transform: translate(-63px, 0px);
      }
    }

    .immitation-box {
      position: absolute;
      top: 14px;
      left: 36px;
      width: 44px;
      height: 44px;
      background: #f4bc4f;
      border-radius: 100%;
      opacity: 1;
      z-index: 0;
      visibility: hidden;
    }

  }

}


.menu-box {
  position: absolute;
  z-index: 1131;
  background: #f4bc4f;
  width: 0;
  height: 100vh;
  left: 0;
  top: 0;
  visibility: hidden;
  box-sizing: border-box;
  overflow: hidden;

  .inner-container {
    min-width: 100vw;
    min-height: 100vh;
    position: relative;
  }

  .grid-box {
    padding: 110px 143px 0;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
    box-sizing: border-box;

    .nav-column {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;

      & > .inner-box > div {
        max-width: fit-content;
        margin-left: auto;
      }

    }

    .socials-column {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;

      & > .inner-box > div {
        max-width: fit-content;
      }
    }
  }


  .nav-link-header {
    font-weight: bold;
    font-size: 60px;
    line-height: 100px;
    text-align: right;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #fff;
  }

  .social-link {
    font-weight: bold;
    font-size: 26px;
    line-height: 2;
    color: #FFFFFF;
  }


  .nav-toggle-box {
    .nav-btn {
      background: #fff;
      color: #D16978;
    }
    .btn-gooey > svg {
      color: #fff
    }
  }
}

