@import '../scss/vars';
@import "mixins";

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 26px 143px;

  .logo {
    display: flex;
    margin-right: auto;

    .text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin-left: 10px;

      img {
        width: auto;
      }

      .center {
        margin: 3.5px 0;
      }
    }


    //height: 37px;
    //width: 128px;
    //background-image: url("../imgs/header/logo.svg");
    //background-size: contain;
    //background-repeat: no-repeat;


  }

  //.nav-toggle {
  //  display: block;
  //  width: 21px;
  //  height: 20px;
  //  margin-right: 28px;
  //  position: relative;
  //  cursor: pointer;
  //
  //  span {
  //    display: block;
  //    position: absolute;
  //    height: 1px;
  //    width: 100%;
  //    background: $black-violet;
  //    //opacity: 0.5;
  //    left: 0;
  //    transform: rotate(0deg);
  //    transition: .25s ease-in-out;
  //
  //    &:nth-child(1) {
  //      top: 1px;
  //    }
  //
  //    &:nth-child(2),
  //    &:nth-child(3) {
  //      top: 9px;
  //    }
  //
  //    &:nth-child(4) {
  //      top: 18px;
  //    }
  //  }
  //
  //  &.active {
  //    span {
  //      &:nth-child(1) {
  //        top: 10px;
  //        width: 0%;
  //        left: 50%;
  //      }
  //
  //      &:nth-child(2) {
  //        transform: rotate(45deg);
  //      }
  //
  //      &:nth-child(3) {
  //        transform: rotate(-45deg);
  //      }
  //
  //      &:nth-child(4) {
  //        top: 10px;
  //        width: 0%;
  //        left: 50%;
  //      }
  //    }
  //  }
  //}

  .nav-toggle {
    display: block;
    height: 19px;
    width: 21px;
    margin-right: 28px;
    background-image: url("../imgs/header/menu-simple.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .contact {
    display: block;
    height: 19px;
    width: 26px;
    background-image: url("../imgs/header/contact.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .nav-toggle-box {
    .btn-gooey {
      @include gooey;

      position: relative;
    }

    position: relative;
    top: -10px;
    transition: all 450ms;

    &:hover {
      .square_for_effect, .nav-btn{

      transform: scale(1.1) !important;
      }
        & .span {

          &:nth-child(2) {
            transform: translate(27px, 0px) !important;
          }

          &:nth-child(3) {
            transform: translate(-42px, 0px) !important;
          }

          &:nth-child(4) {
            transform: translate(-58px, 0px) !important;
          }
        }
    }

    .square_for_effect {
      display: block;
      position: absolute;
      left: -24px;
      top: -18px;
      z-index: -1;
      width: 92px;
      transition: all 450ms;
      svg {
        width: 100%;
        height: auto;
        color: #f3bc4e;
      }
    }

    .nav-btn {

      cursor: pointer;
      width: 44px;
      height: 44px;
      padding: 10px;
      border: 0;
      border-radius: 0 0 50% 50%;
      background: #f3bc4e;
      color: white;
      transition: all 450ms;
      box-sizing: border-box;

      & > svg {
        width: 100%;
        max-height: 100%;
        height: auto;
      }

    }

    & > .span {
      position: absolute;
      display: block;
      top: 7px;
      z-index: -1;
      left: auto;
      right: auto;
      opacity: 0;
      transition: all 450ms;

      & > svg {
        max-width: 14px;
        max-height: 25px;
      }

      &:nth-child(2) {
        left: -25px;
        transform: translate(27px, 0px);
      }

      &:nth-child(3) {
        left: 52px;
        transform: translate(-42px, 0px);
      }

      &:nth-child(4) {
        left: 68px;
        transform: translate(-58px, 0px);
      }
    }

    .immitation-box {
      position: absolute;
      top: 0;
      left: 0;
      width: 44px;
      height: 44px;
      background: #f3bc4e;
      border-radius: 100%;
      transform: translateY(0px);
      z-index: -1;
    }
    //&:before {
    //  @include content;
    //  width: 103px;
    //  height: 20px;
    //  position: absolute;
    //  background: #F4BC4F;
    //  border-radius: 0px 0 50px 50px;
    //  left: 0;
    //  top: -20px;
    //  transform: translate(-28%, 0%);
    //  overflow: hidden;
    //}
    //
    //&:after {
    //  @include content;
    //  width: 53px;
    //  height: 5px;
    //  position: absolute;
    //  background: #F4BC4F;
    //  left: 0;
    //  top: 0px;
    //  z-index: -1;
    //}
  }

}


.menu-box {
  position: absolute;
  z-index: 1131;
  background: #D16978;
  width: 100%;
  height: 0vh;
  left: 0;
  right: 0;
  top: 0;
  box-sizing: border-box;
  overflow: hidden;

  .inner-container {
    min-width: 100vw;
    min-height: 100vh;
    position: relative;
  }

  .grid-box {
    padding: 110px 143px 0;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
    box-sizing: border-box;

    .nav-column {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;

      & > .inner-box > div {
        max-width: fit-content;
        margin-left: auto;
      }

    }

    .socials-column{
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;

      & > .inner-box > div {
        max-width: fit-content;
      }
    }
  }



  .nav-link-header {
    font-weight: bold;
    font-size: 60px;
    line-height: 100px;
    text-align: right;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #fff;
  }

  .social-link {
    font-weight: bold;
    font-size: 26px;
    line-height: 2;
    color: #FFFFFF;
  }




  .nav-toggle-box {
    .nav-btn {
      background: #fff;
      color: #D16978;
    }
    .square_for_effect svg{
      color: #fff
    }
  }
}

