@import '../scss/vars';
//@import '../scss/main.scss';

body.home{
  background: $red;
}

#home {
  section.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .load-wrapper{
      color: $white;
      background: $red;
    }
    h1{
      transform: translateX(-5%);
    }
    a {
      color: $red;
      text-decoration: none;
      border-bottom: solid $red 4px;
    }
    .bottom-text{
      position: absolute;
      bottom: 20%;
      right: 145px;
    }
  }

  section.what-we-do {
    .grid {
      height: 70%;
      background: url("../imgs/home/wwd/bottom-mask.svg"),
      url("../imgs/home/wwd/bottom.svg"),
      linear-gradient(0deg, $grey-bg 0%, $grey-bg 15px, $violet 15px, $violet 100%);
      background-repeat: no-repeat;
      background-size: 130.76% auto, 100% auto;
      color: $white;

      h2 {
        max-width: 277px;
        margin: 0 auto;
        //position: sticky;
        //position: fixed;
        top: 0;
        left: calc(25% - 180px);
        z-index: 20;

      }

      .col1 {
        height: 100%;
        display: flex;
        justify-content: center;
        position: relative;
      }

      .outline {
        margin-bottom: 10px;
        right: 30px;
      }
    }



    .row {
      height: 30%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }


  section.webdev {
    padding-top: 8vh;
    height: 92vh;
    box-sizing: border-box;
    h2 {
      max-width: 277px;
    }

    p {
      max-width: 377px;

      b {
        font-weight: 800;
      }

      span {
        font-weight: 700;

        &.red {
          color: $red;
        }

        &.violet {
          color: $violet;
        }

        &.yellow {
          color: $yellow;
        }
      }
    }
    .col2 {
      position: relative;
    }
    .outline {
      right:  40px;
      bottom: -25px;
    }

    .img-cont {
      height: 138px;
    }
  }


  section.design {
    position: relative;
    .circle {
      background-color: $yellow;
    }
    .container {
      height: 92vh;
      h2 {
        max-width: 500px;
      }
    }

    .star {
      width: 127px;
      height: 127px;
      position: absolute;
      z-index: 3;
      top: 40vh;
      right: 20vw;
      svg{
        overflow: visible;
      }
    }

    .img-cont{
      height: 137px;
    }
  }


  section.mobdev {
    background-color: $yellow;
    color: $white;
    height: 110vh;
    position: relative;

    .circle {
      background-color: $red;
    }

    .container{
      height: 100vh;
    }

    .img-cont{
      height: 156px;
    }
    h2{
      position: relative;
      .outline {
        left: 0;
        top: 20px;
      }
    }

    //.smile{
    //  width: 139px;
    //  height: 139px;
    //  position: absolute;
    //  background: url("../imgs/home/design/star.svg");
    //  background-size: contain;
    //  background-repeat: no-repeat;
    //  z-index: 3;
    //}
  }


  section.whyCCL {
    background:  url("../imgs/home/whyCCl/top-mask.svg"), url("../imgs/home/whyCCl/top.svg"), url("../imgs/home/whyCCl/bottom.svg"), $violet;
    background-repeat: no-repeat;
    background-size: 130.76% auto, 100% auto, 100% auto;
    position: relative;
    color: $white;

    .bottom-text{
      position: absolute;
      bottom: 10%;
      left: 145px;
    }

    .question {
      display: inline-block;
    }
  }

  section.team {
    box-sizing: border-box;
    padding-top: 8vh;
    height: 92vh;
  }


  section.clients {
    overflow-x: hidden;
    height: 108vh;
    .oval {
      background-color: $yellow;
      overflow: hidden;
    }

    .container {
      height: calc(80vh - 200px);
    }
    .row{
      height: 20vh;
      position: relative;
      width: 100%;
      margin-bottom: 200px;
      .row-cont{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0% ;
        height: 200px;
        width: 100%;

        .grid{
          display: grid;
          grid-template-columns: repeat(5, 152px);
          grid-gap: 36px;
        }
        .item{
          width: 152px;
          height: 152px;
          background: $white;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .smile{
          position: absolute;
          img{
            width: 200px;
            position: relative;
            z-index: 5;
          }
          .mask{
            position: absolute;
            height: 100%;
            width: 50vw;
            top: 0;
            background: $yellow;
          }
          &.right,.mask{
            right: 0;
            .mask{
              left: 100px;
            }
          }
          &.left{
            left: 0;
            .mask{
              right: 100px;
            }
          }
        }
      }
    }
  }

  section.tech {
    color: $white;
    position: relative;
    background: url("../imgs/home/tech/left.svg"),$red;
    background-position: center left;
    background-repeat: no-repeat;
    background-size: auto;

    .img-cont{
      height: 168px;
    }

    .paint{
      width: 100vw;
      height: 4vw;
      position: absolute;
      background: url("../imgs/home/tech/bottom.svg");
      background-size: 100vw;
      background-position: bottom;
      background-repeat: no-repeat;
      z-index: 30;
      bottom: -4vw;
    }

    .col1{
      position: relative;
      .outline {
        top: 85px;
      }
    }

  }
}

