@import '../scss/vars';
//@import '../scss/main.scss';

body{
  background: $red;
}

#home {
  section.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .wrapper{
      width: 100vw;
      height: 100vh;
      color: $white;
      background: $red;
      position: absolute;
      right: 0;
      overflow: hidden;
      z-index: 20;
      .block{
        height: 100%;
        width: 100vw;
        right: 0;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .white-logo{
          opacity: 0;
          position: absolute;
          top: 26px;
          left: 143px;
        }
        h1 {
          &.vertical-move {
            span {
              display: flex;
              align-items: flex-end;
              justify-content: center;
              height: 78px;
              span {
                height: 0;
                display: block;
                overflow: hidden;
              }
            }
          }
        }
      }
    }
    h1{
      transform: translateX(-5%);
    }
    a {
      color: $red;
      text-decoration: none;
      border-bottom: solid $red 4px;
    }
    .bottom-text{
      position: absolute;
      bottom: 20%;
      right: 145px;
    }
  }

  section.what-we-do {
    .grid {
      height: 70%;
      background: url("../imgs/home/wwd/bottom-mask.svg"),
      url("../imgs/home/wwd/bottom.svg"),
      linear-gradient(0deg, $grey-bg 0%, $grey-bg 15px, $violet 15px, $violet 100%);
      background-repeat: no-repeat;
      background-size: 130.76% auto, 100% auto;
      color: $white;

      h2 {
        max-width: 277px;
        //display: block;
        margin: 0 auto;
      }

      .col1 {
        height: 100%;
        display: flex;
        justify-content: center;
        position: relative;
      }

      .outline {
        display: block;
        position: absolute;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 30px;
        //text-align: center;
        height: 334px;
        width: 390px;
        z-index: 1;
      }
    }

    .row {
      height: 30%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }


  section.webdev {
    padding-top: 8vh;
    height: 92vh;
    box-sizing: border-box;
    //.grid {
    //  height: 95%;
    //}

    h2 {
      max-width: 277px;
    }

    p {
      max-width: 377px;

      b {
        font-weight: 800;
      }

      span {
        font-weight: 700;

        &.red {
          color: $red;
        }

        &.violet {
          color: $violet;
        }

        &.yellow {
          color: $yellow;
        }
      }
    }

    .col2 {
      position: relative;
    }

    .outline {
      position: absolute;
      margin: auto;
      right:  40px;
      bottom: -25px;
      z-index: 1;
    }

    .img-cont {
      height: 138px;
    }
  }


  section.design {
    //height: calc(100vh + 50px);
    position: relative;
    .circle {
      background-color: $yellow;
    }
    .container {
      height: 92vh;
      h2 {
        max-width: 500px;
      }
    }

    .star {
      width: 127px;
      height: 127px;
      position: absolute;
      z-index: 3;
      top: 40vh;
      right: 20vw;
      svg{
        overflow: visible;
      }
    }

    .img-cont{
      height: 137px;
    }
  }


  section.mobdev {
    background-color: $yellow;
    color: $white;
    height: 110vh;
    position: relative;

    .circle {
      background-color: $red;
    }

    .container{
      height: 100vh;
    }

    .grid {
      //height: 80%;
      //padding-bottom: 15%;
      //align-items: flex-end;
      //justify-items: center;
    }
    .img-cont{
      height: 156px;
    }
    h2{
      position: relative;
      .outline {
        position: absolute;
        margin: auto;
        left: 0;
        top: 20px;
        z-index: 1;
      }
    }

    //.smile{
    //  width: 139px;
    //  height: 139px;
    //  position: absolute;
    //  background: url("../imgs/home/design/star.svg");
    //  background-size: contain;
    //  background-repeat: no-repeat;
    //  z-index: 3;
    //}
  }


  section.whyCCL {
    background: url("../imgs/home/whyCCL/top.svg"),
    url("../imgs/home/whyCCL/bottom.svg"),
    linear-gradient(180deg,
                    $red 0%, $red 10%,
                    $violet 10%, $violet 88%,
                    $grey-bg 88%, $grey-bg 100%);
    background-position: top center, center bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
    color: $white;

    .bottom-text{
      position: absolute;
      bottom: 10%;
      left: 145px;
    }

    .question {
      display: inline-block;
    }
  }

  section.team {
    box-sizing: border-box;
    padding-top: 8vh;
    height: 92vh;
  }


  section.clients {
    overflow-x: hidden;
    height: 108vh;
    .oval {
      background-color: $yellow;
    }

    .container {
      height: 100vh;
    }

    .row{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 40vh;
      width: 1000px;
    }
  }

  section.tech {
    color: $white;
    position: relative;
    background: url("../imgs/home/tech/left.svg"),$red;
    background-position: center left;
    background-repeat: no-repeat;
    background-size: auto;

    .paint{
      width: 100vw;
      height: 4vw;
      position: absolute;
      background: url("../imgs/home/tech/bottom.svg");
      background-size: 100vw;
      background-position: bottom;
      background-repeat: no-repeat;
      z-index: 30;
      bottom: -4vw;
    }
  }
}

