@import '../scss/vars';

@font-face {
  font-family: "Inconsolata";
  font-weight: 900;
  src: url("../fonts/Inconsolata-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Inconsolata";
  font-weight: 700;
  src: url("../fonts/Inconsolata-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Inconsolata";
  font-weight: 400;
  src: url("../fonts/Inconsolata-Regular.ttf") format("truetype");
}

body{
  font-family: "Inconsolata";
  color: $black-violet;
  background: $grey-bg;
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

h1,h2,p{
  margin: 0;
}
h1{
  font-weight: 900;
  font-size: 60px;
  line-height: 130%;
  letter-spacing: -0.02em;
  text-align: center;
  max-width: 800px;
  &.vertical-move {
    span {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      height: 78px;
      span {
        height: 0;
        display: block;
        overflow: hidden;
      }
    }
  }
}
h2{
  font-weight: bold;
  font-size: 120px;
  line-height: 80%;
  text-transform: uppercase;
  text-align: center;
  display: block;
  span{
    display: block;
  }
  &.vertical-move{
    span{
      height: 96px;
      span{
        overflow: hidden;
      }
    }
  }
  &.vertical-bottom-move {
    span {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      height: 96px;
      span {
        display: block;
        overflow: hidden;
      }
    }
  }
  &.side-move{
    overflow: hidden;
  }
  &.small{
    font-size: 80px;
  }
  &.mb{
    margin-bottom: 50px;
    & + p{
      text-align: center;
    }
  }
}
p{
  font-weight: 400;
  line-height: 140%;
  margin: 0;
  font-size: 16px;
  //home
  &.mw475{
    max-width: 475px;
  }
  &.mw375{
    max-width: 375px;
  }
  //design
  &.mw444{
    max-width: 444px;
  }
  &.mw355{
    max-width: 355px;
  }

  &.big{
    font-size: 26px;
  }
  &.center{
    text-align: center;
  }
}
a{
  text-decoration: none;
  color: inherit;
}

img{
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

img.mb,
svg.mb{
  margin-bottom: 60px;
}
svg{
  overflow: visible;
}

section{
  //max-height: 70vw;
  height: 100vh;
  background-color: $grey-bg;
}

.grid{
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  &.mw900{
    max-width: 900px;
    grid-gap: 140px;
    margin: 0 auto;
  }

  .col1, .col2{
    display: flex;
    flex-direction: column;
    &.col-center{
      align-items: center;
    }
  }
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.load-wrapper{
  width: 100vw;
  height: 100vh;
  color: $white;
  //background: $red;
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  z-index: 20;
  .block{
    height: 100%;
    width: 100vw;
    right: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .white-logo{
      opacity: 0;
      position: absolute;
      top: 26px;
      left: 143px;
    }
  }
}


.oval{
  width: 110%;
  margin-left: -5%;
  height: 100%;
  position: relative;
  border-radius: 50% 50% 0 0 / 70% 70% 0 0;
}

.circle{
  width: 100%;
  height: 100%;
  border-radius: 100vh 100vh 0 0;
  position: absolute;
  bottom: 0;
  left: -20vw;
  right: -20vw;
  margin: 0 auto;
  .container {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}

.anchor-arrow{
  width: 40px;
  height: 8vh;
  margin: 0 auto;
  background: url("../imgs/home/anchor-arrow.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.img-cont{
  display: flex;
  margin-bottom: 60px;
  align-items: center;
  img{
    height: 100%;
    margin-bottom: 0;
  }
}

.read-more{
  transform: translateY(40px);
  width: 100%;
  &.center{
    width: auto;
  }
  a{
    font-weight: bold;
    line-height: 120%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
}

.overflow-hidden{
  overflow: hidden;
}

.behance{
  height: 8vh;
  margin: 0 auto;
  font-size: 14px;
  line-height: 140%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  position: relative;
  a{
    font-weight: 700;
  }
  .icon{
    width: 35px;
    height: 35px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 10px;
  }
  &.black{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    a{
      color: $red;
    }
    .icon{
      background-image: url("../imgs/design/behance-black.svg");
    }
  }
  &.white{
    a{
      color: $yellow;
    }
    .icon{
      background-image: url("../imgs/design/behance-white.svg");
    }
  }
}

.gallery {
  height: 92vh;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  flex-direction: column;
  //transform: translateY(-20vh);
  position: relative;
  .gallery-imgs{
    overflow: hidden;
  }
  .grid {
    width: max-content;
    height: auto;
    padding: 0 146px;
  }
  &-controls{
    width: 100vw;
    //position: relative;
    .control{
      position: absolute;
      height: 8vh;
      bottom: -8vh;
      z-index: 30;
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        max-height: 8vh;
        cursor: pointer;
      }
      &:first-child{
        left: 40px;
      }
      &:last-child{
        right: 40px;
      }
    }
  }
}
.outline {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 1;
}
